{% extends "layoutAdm.njk" %}


{% block content%}

    <section class="content">
        <div class="cards-chefs">
            
            {% for chef in chefs %}
                <div class="card-chef" id="{{chef.id}}" >
                    <div class="circle">
                    {% if chef.avatar_url %}
                    <span style="background-image: url({{chef.avatar_url}})"></span>
                    {% else %}
                    <span style="background-image: url(http://placehold.it/500x500?text=ImageNotFound)"></span>    
                    {% endif %}
                    </div>
                    <div class="content-info">
                        <h4 class="content">{{chef.name}}</h4>
                        
                        <p class="info">
                            {% if chef.total_recipes > 1 %}
                                {{chef.total_recipes}} receitas
                            {% else %}
                                {{chef.total_recipes}} receita
                            {% endif %}
                        </p>               
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </section>
{% endblock %}