{% extends "layoutAdm.njk" %}

{% block content %}

    <form method="POST" action="/admin/recipes">

        <section class="section-button-edit">
            <p>Criando receita</p>
            <div>
                <button class="salve-button" type="submit">Salvar receita</button>
            </div>
        </section>
        {% include 'admin/fields.njk'%}
        
    </form>

{% endblock content %}