{% extends "layoutAdm.njk" %}

{% block content %}

    <section class="section-button-edit">
        <p>Editando receita</p>
        <div>
            <a class="button" href="{{recipe.index}}/edit.njk">Deletar</a>
            <a class="button" type="submit" method="POST" action="admin/recipes?_method=PUT" href="/admin/recipes">Salvar receita</a>
        </div>
    </section>
    {% include 'admin/fields.njk' %}

{% endblock %}