{% extends "layoutAdm.njk" %}

{% block content %}

    {# <main class="apresentation">
        <div class="desc">
            <h1> As melhores receitas </h1>
            <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="">
    </main> #}

    <section class="content">
        <h1>Gerenciar Receitas</h1>
        <div class="cards-all">
                
            {% for item in itens %}
                <div class="card" id='{{item.index}}'>
                    <img src="{{item.image2}}" alt="{{item.title}}">
                    <h4 class="content">{{item.title}}</h4>
                    <p class="info">por {{item.author}}</p>               
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}