{% extends "layoutAdm.njk" %}

{% block content %}

    {# <main class="apresentation">
        <div class="desc">
            <h1> As melhores receitas </h1>
            <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="">
    </main> #}

    <section class="content-adm">
        <h1>Gerenciar Receitas</h1>
        <div class="cards-all-adm">
                
            {% for item in itens %}
                <div class="card-adm" id='{{item.index}}'>
                    <img src="{{item.image2}}" alt="{{item.title}}">
                    <div class="card-info">
                        <h4 class="content">{{item.title}}</h4>
                        <p class="info">por {{item.author}}</p>
                        <a href="/admin/recipes/{{item.index}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}