{% extends "layout.njk"%}

{% block content%}
    <section class="content">
        <div class="cards-index">
            
            {% for recipe in recipes %}
                <div class="card" id='{{recipe.id}}'>
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <h4 class="content">{{recipe.title}}</h4>
                    <p class="info">por {{recipe.chef_name}}</p>               
                </div>
            {% endfor %}
            
        </div>
    </section>
    <div class="modal-overlay">
        <div class="modal">
            
            <img class="modalimg" src="" alt="">
        
            <h4 class="title">Asinhas de frango ao barbecue</h4>
            <p class="info">por Vania Steroski</p>  

            <p class="modal-close">Fechar</p>
        </div>
    </div>
{% endblock %}