{% extends "layout.njk" %}

{% block content %}
    <section class="section-button">
        <p>Receita: {{recipe.title}}</p>
        {# <a class="button" href="{{recipe.id}}/edit.njk">Editar receita</a> #}
    </section>
    <section>
        <div class="foto-rec">
            <img src="{{recipe.image}}" alt="">
        </div>

        <div class="title-rec">
            <h1 class="content">{{recipe.title}}</h1>
            <p class="info">Por {{recipe.chef_name}}</p>    
        </div>

        <div class="ingredientes">
            
            <div class="title-esconde">
                <h4 class="subtitle-rec">Ingredientes</h4>
            </div>

            <div class="lista-ingredientes  mostrar">
                {% for linha in recipe.ingredients %}
                    <li class="lista-rec">{{linha}}</li>
                {% endfor %}
            </div>

        </div>
        <div class="modoPreparo">

            <div class="title-esconde">
                <h4 class="subtitle-rec">Modo de Preparo</h4>
            </div>
            <div class="lista-preparation mostrar">        
                {% for linha in recipe.preparation %}
                    <li class="lista-rec">{{linha}}</li>
                {% endfor %}
            </div>
        
        </div>
        <div class="info">
            
            <div class="title-esconde">
                <h4 class="subtitle-rec">Informações adicionais</h4>
            </div>
            <div class="text-info mostrar">
                <p class="lista-rec">{{recipe.information}}</p>
            </div>
            
            
            
        </div>
    </section>

{% endblock %}