    <section>
        
            <div class="foto-rec">
                <h3>Imagem da Receita</h3>
                <input name="image" type="url" value="{{recipe.image}}"placeholder="https://">    
            </div>

            <div id="ingredients">
                <h3>Ingredientes</h3>
                    {% for linha in recipe.ingredients%}
                        <input type="text" name="ingredients[]" value="{{linha}}" placeholder="Escreva o próximo ingrediente" />                
                    {% endfor %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="" placeholder="Escreva o próximo ingrediente" />                
                </div>
            </div>
            <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>    


            <div id="modoPreparo">
                <h3>Modo de Preparo</h3>
                    {% for linha in recipe.preparation %}
                        <input type="text" name="preparation[]" value="{{linha}}" placeholder="Escreva o próximo passo" />                
                    {% endfor %}
                <div class="modPrep-content">
                    <input type="text" name="preparation[]" value="" placeholder="Escreva o próximo passo" />                
                </div>
            </div>
            <button type="button" class="add-modPrep">Adicionar novo passo</button>    


            <div class="grid-fields">
                <div class="title">
                    <h3>Título da Receita</h3>
                    <input name="title" type="text" value="{{recipe.title}}">    
                </div>

                <div class="create-name">
                    <h3>Autor da Receita</h3>
                    <select name="chef_id">
                        {% for chef in chefOptions%}
                        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}selected{% endif %}>
                            {{chef.name}}
                            
                        </option>   
                        
                        {% endfor %}
                    </select>
                     
                </div>
            </div>
            <div class="info">
                
                <div class="title-esconde">
                    <h3>Informações adicionais</h3>
                </div>
                <textarea id="info-textarea" name="information" rows="0" cols="0">    {{recipe.information}}</textarea>
            </div>
    </section>