{% extends "layoutAdm.njk" %}

{% block content %}

    {# <main class="apresentation">
        <div class="desc">
            <h1> As melhores receitas </h1>
            <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="">
    </main> #}

    <section class="content-adm">
        <h1>Gerenciar Receitas</h1>
        <div class="cards-all-adm">
                
            {% for recipe in recipes %}
                <div class="card-adm" id='{{recipe.id}}'>
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <div class="card-info">
                        <h4 class="content">{{recipe.title}}</h4>
                        <p class="info">por {{recipe.chef_name}}</p>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}