@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color:snow;
    font-family: Roboto;
    font-weight: 400;
}
p{
    font-size: 20px;
    color: #777777;
}
h4{
    font-size: 24px;
    color: #111111;
}
header div{
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    padding: 30px 0px;
    align-items: center;
}
header div img{
    margin-right: 54.4px;
}
header div a:first-child{
    
    margin-left: 0;
}
header div a{
    
    line-height: 19px;
    font-size: 16px;
    color: #111111;
    margin-left: 30px;
    text-decoration: none;
}
header div .sobre:hover, .receitas:hover{
    font-family: Roboto;
    font-weight: 700;
}
header div .active-site{
    font-family: Roboto;
    font-weight: 700;
}

main{
    background-color:#FBDFDB;

    box-shadow: 3px 0px 13px -6px;
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 30px;
    height: 366px;

    display: grid;
    grid-template-columns: 1fr 1fr;

}
main div{
    max-width: 305px;
    margin: 30% auto;

}
main img{
    margin-left: 130px;
    margin-top: 60px;
}
section, article{
    max-width: 940px;
    margin: 0 auto;
}
section div p{
    margin-bottom: 30px;
}
.cards-all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 55px;
}
.cards-index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card{
    
    cursor: pointer;
}
.card img{
    width: 100%;
    object-fit: none;

    margin: 20px 0;
    border-radius: 15px;
    height: 140px;
}
.card img:hover{
    border: 2px solid black ;
    height: 136px;
}
.card h4, 
.card-chef h4{
    font-size: 18px;
}
.card p,
.card p{
    font-size: 14px;
    color: #777777;
}

footer{
    font-size: 14px;
    color: #999999;
    background-color: #EEEEEE;
    margin-top: auto;
    padding: 23px;
    text-align: center;
    bottom: 0;
}

/* MODAL */
.modal-overlay{
    top: 0;
    position: fixed;

    height: 100%;
    width: 100%;

    visibility: hidden;
    background-color: rgba(0, 0,0, 0.8);
} /* MODAL active */
.modal-overlay.active{
    visibility: visible;
}
.modal{
    background-color: white;

    width: 33%;
    height: 40%;
    margin: 30vh auto;
    padding: 1.2%;
    border: 1px solid #000;

    border-radius: 16px;

    text-align: center;
    
}
.modal img{
    
    height: 20vh;
    width: 100%;

    border-radius: 15px;
}

/* Modal Close */

.modal-close{
    cursor: pointer;
    margin-top: 10%;
}
.modal-close:hover{
    font-weight: 700;
    color: red;
}

/* page-Sobre */

article p{
    text-align: justify;
    font-size: 18px;
    color: #444444;
    line-height: 28px;

    padding: 10px 0;
}
article h4{
    padding-top: 5px;
    font-size: 24px;
}
article h2{
    padding-top: 5px;
    font-size: 20px;
}

/* --- Página da receita clicada --- */

.foto-rec{
    margin: 20px 0px;   
}
.foto-rec img{
    object-fit: cover;
    height: 340px;
    width: 100%;
    border-radius: 15px;
}
.title-rec{
    font-size: 36px;
    margin: 30px 0px;
    text-align: center;
}
.subtitle-rec{
    font-size: 24px;
    margin: 20px 0px;
}
.lista-rec{

    font-size: 18px;
    color: #444444;
    line-height: 28px;

}
.title-esconde{
    display: flex;
    align-items: center;
}
.title-esconde p{
    font-size: 12px;
    margin: 0;
    padding-left: 8px;
    padding-top: 8px;
    cursor: pointer;
}
.title-esconde p:hover {
    color: seagreen;
    
}

/* mostranto e escondendo divs da pagina receita.njk */

.lista-ingredientes{
    visibility: hidden;
    display: none;
}
.lista-ingredientes.mostrar{
    visibility: visible;
    display: block;
}
/* modo de preparo */
.lista-preparation{
    visibility: hidden;
    display: none;
}
.lista-preparation.mostrar{
    visibility: visible;
    display: block;
}

/* informação adicional */
.text-info{
    visibility: hidden;
    display: none;
}
.text-info.mostrar{
    visibility: visible;
    display: block;
}

/* LayoutAdm */
.header-adm, 
.abas-adm{
    background-color: black;
}
.header-adm{
    margin-bottom: 50px;
}
.header-adm div a{
    margin: 0;
}
.abas-adm {
    max-width: 940px;
}
.content-adm h1{
    margin-top: 50px;
}
.cards-all-adm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    margin-top: 30px;
}
.card-adm{
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 20px;

    height: 80px;
}
.card-adm img{
    object-fit: cover;
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}
.card-info h4{
    font-size: 18px;
}
.card-info p{
    font-size: 14px;
    margin: 5px 0 10px;
}
.card-info a{
    text-decoration: none;
    color: blue;
}
.section-button-edit{
    /* margin-top: -37px; */
    display: flex;
    justify-content: space-between;
}
#form-delete{
    min-width: 65vw;
    text-align: right;
    position: absolute;
    max-width: 72vw;
}
.delete-button,
.salve-button{
    padding: 9px 20px; 
    color: whitesmoke; 
    border-radius: 4px; 
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.delete-button{
    /* margin-top: 50px; */
    width: 92px;
    background: firebrick;
}
.salve-button{
    background: forestgreen;
}
.section-button-editchef p,
.section-button-edit p,
.section-button p{
    font-weight: 700;
    font-size: 24px;
    color: #111111;
}
a.button{ 
    padding: 9px 20px; 
    color: whitesmoke; 
    border-radius: 4px; 
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: forestgreen;
    }

header div .receitasAdm {
    font-family: Roboto-Bold;
    font-size: 15px;
    color: #999999;
    text-align: left;
    margin-right: 30px;
}
header div .chefsAdm{
    font-family: Roboto-Bold;
    font-size: 15px;
    color: #999999;
    text-align: left;
}

header div .receitasAdm:hover, .chefsAdm:hover{
    font-family: Roboto-Bold;
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
}
header div .active{
    font-family: Roboto-Bold;
    color: #FFFFFF;
    text-align: left;
}
/* Edit Adm */

#ingredients input,
#modoPreparo input,
.ingredients input,
.grid-fields input,
.create-name input,
input[type="text"]{
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    padding: 20px 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
h3{
    font-size: 16px;
    padding: 10px 0;
    color: black;
    text-transform: none;
}
button[type="button"]{
    font-size: 16px;
    padding: 15px 0;
    background: transparent;
    cursor: pointer;
    color: forestgreen;
    font-weight: 700;
    outline: none;
}
button[type="button"]:hover{
    font-size: 16px;
    padding: 15px 0;
    background: transparent;
    cursor: pointer;
    color: rgb(50, 211, 50);
    font-weight: 700;
}
textarea{
    width: 100%;
    height: 257px;
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    padding: 20px 15px;
    margin-bottom: 10px;
    resize: none;
    font-family: 'roboto';
    font-size: 16px;
    box-sizing: border-box;
}
.grid-fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.create-name select{
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    padding: 20px 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Pagina de Chefs */

.cards-chefs{
    margin-bottom: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.card-chef{
    gap: 20px;
    display: grid;
    cursor: pointer;
    grid-template-columns: 64px 1fr;
    cursor: pointer;
}
.card-chef div .info{
    font-size: 14px;
    margin-bottom: 0;
}

.circle span,
.circle img {
        position: absolute; 
        width: 64px;
        height: 64px;
        background-position: center;
        object-fit: cover;
        border-radius: 50%;
        /* box-shadow: 3px 1px 6px -4px black;
        border: 2px solid white; */
    
}

.bigcircle span,
.bigcircle img {
    position: absolute; 
    width: 200px;
    height: 200px;
    background-position: center;
    object-fit: cover;
    border-radius: 50%;
    /* box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white; */

}

.section-button-editchef {
    
    display: flex;
    justify-content: space-between;
}
.bigcircle{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
}
.title-rec h1 {
 font-size: 36px;   
}
.content h1{
    margin-bottom: 20px;
}
.content-info{
    margin: auto 0;
}

/* campo de pesquisa */

.header {
    font-family: Roboto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* margin-bottom: 32px; */
}        

.header form {

    display: grid;
    grid-column: none;
    grid-template-columns: 250px 91px;
    align-items: center;
    grid-gap: 8px;
}

.header form input {
    border: 1px solid #eee;
    padding: 8px 8px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.header form button {
    padding: 9px 20px; 
    color: whitesmoke; 
    border-radius: 4px; 
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: forestgreen;
    margin:0;
}


/* paginação */

.content .pagination{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    margin-top: 150px;

}

.pagination a,
.pagination span {
    color: forestgreen;
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid firebrick
}


/* Upaload de imagens */


.item .grid-photos {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.item #photos-upload {
    position: relative;
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;

}


.item #photos-upload span {
    position: absolute;
    border-radius: 3.5px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: white;
    border: 1px solid #999;
    color: white;
    width: 148px;
    height: 148px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.item #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    z-index: 1;
    cursor: pointer;
}

.item #photos-upload i{

    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255,255,255,0.8);

    color: #444444;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 300%;
    cursor: pointer;
    
    transition: opacity 200ms;
    opacity: 0.5;
	
}
.item #photos-upload:hover i{
    opacity: 1;
}

.item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    width: 100%;
    
    align-items: center;
}

.item #photos-preview img{
    width: 100%;
    height: 148px;

    object-fit: cover;
    border: 1px solid #999;
    border-radius: 3.5px;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255,255,255,0.8);

    color: red;

    width: 102%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 400%;
    cursor: pointer;
    
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

/* PhotosUpload Chefs */


form section div #photos-input {
    position: absolute;
    opacity: 0;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}


form section div #photos-preview-chefs {
    
    border: 1px solid #444444;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    margin: 8px 0;
}


form section div #photos-preview-chefs i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form section div .sombra{
    margin-top: 8px;
    height: 152px;
    width: 151px;
    font-size: 600%;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    opacity: 0.4;

    display: flex;
    align-items: center;
    justify-content: center;
}
form section div .material-icons:hover {
    background-color:rgba(65, 57, 57, 0.185);
}

form section div #photos-preview-chefs img{
    width: 100%;
    height: 150px;
    border-radius: 50%;

    object-fit: cover;
}

#photos-preview-chefs .photo {
    position: relative;
}

#photos-preview-chefs .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255,255,255,0.8);

    color: red;

    width: 100%;
    height: 97.7%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;
    
    transition: opacity 200ms;
    opacity: 0;
    z-index: 2;
    border-radius: 50%;
}

#photos-preview-chefs .photo:hover i {
    opacity: 1;
}