{% extends "layout.njk" %}


{% block content%}

    <section class="content">
        <div class="cards-chefs">
            
            {% for chef in chefs %}
                <div class="card-chef" id="{{chef.id}}" >
                    <div class="circle">
                        {%for file in files%}
                            {% if chef.file_id != file.id %}
                                <span style="background-image: url(http://placehold.it/500x500?text=ImageNotFound)"></span>
                            {% endif %}
                        {% endfor%}
                        {%for file in files%}
                            {% if chef.file_id == file.id %}
                                <img src="{{file.src}}">
                            {% endif %}
                        {% endfor%}
                    </div>
                    <div class="content-info">
                        <h4 class="content">{{chef.name}}</h4>
                        <p class="info">
                            {% if chef.total_recipes > 1 %}
                                {{chef.total_recipes}} receitas
                            {% else %}
                                {{chef.total_recipes}} receita
                            {% endif %}
                        </p>               
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </section>
{% endblock %}