{% extends "layoutAdm.njk" %}

{% block content %}

    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">

        <input type="hidden" name="id" value={{recipe.id}}>
        <button class="delete-button" type="submit">Delete</button>

    </form>
    <form  action="/admin/recipes?_method=PUT"  method="POST" enctype="multipart/form-data">

        <section class="section-button-edit">
            <p>Editando receita</p>
            <div>
                <button class="salve-button" type="submit">Salvar receita</button>
            </div>
        </section>
        {% include 'admin/recipes/fields.njk' %}
        <input type="hidden" name="id" value="{{recipe.id}}">
        
    </form>
    {% include '../../confirm.njk'%}
{% endblock %}