{% extends "layout.njk"%}

{% block content%}
    <section class="content">
        <div class="cards-all">
            
            {% for item in itens %}
                <div class="card" id="{{item.index}}" >
                    <img src="{{item.image2}}" alt="{{item.title}}">
                    <h4 class="content">{{item.title}}</h4>
                    <p class="info">por {{item.chef_name}}</p>               
                </div>
            {% endfor %}
            
        </div>
    </section>
    <div class="modal-overlay">
        <div class="modal">
            
            <img class="modalimg" src="" alt="">
        
            <h4 class="title">Asinhas de frango ao barbecue</h4>
            <p class="info">por Vania Steroski</p>  

            <p class="modal-close">Fechar</p>
        </div>
    </div>
{% endblock %}