<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="body">
    <header class="header-adm">
        
        <div class="abas-adm" >
            <a href="/admin/recipes"><img src="/assets/logoAdm.png" alt="logo.Foodfy"></a>
            <a class="receitasAdm" href="/admin/recipes">RECEITAS</a>
            <a class="chefsAdm" href="/admin/chefs">CHEFS</a>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <script src="/scriptAdm.js"></script>
</body>
</html>