<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/style.css">
     
</head>
<body>
    <header>
    <div class="header">
                <div class="abas" >
                    <a href="/"><img src="/assets/logo.png" alt="logo.Foodfy"></a>
                    <a class="sobre" href="/sobre">Sobre</a>
                    <a class="receitas" href="/receitas">Receitas</a>
                    <a class="receitas" href="/chefs">Chefs</a>
                </div>
                <form action="/receitas" method="GET">
                    <input
                        type="text"
                        name="filter"
                        placeholder="Filtrar receita"
                        value={{filter}}
                    >
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <p>Todos os direitos reservados Foodfy</p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>